@use "_config.scss" as config;

/* Basic */

@media ( width <= 1280px ) {

    #logo {
        font-size: 120%;
        font-weight: bold;
        line-height: 3.5em !important;
    }

    #nav > ul > li {
        padding-bottom: 0.5rem;
        padding-top: 1.1rem;
    }

    #banner {
        height: 22.5em;
    }

    .grid-default {
        grid-template-columns: repeat(config.$grid-columns-lg);
    }
}